/* style.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  margin-bottom: 20px;
  color:lightsalmon;
}

/* Form styles */
.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color:burlywood;
}

/* Login form styles */
#studentLogin {
  background-color: #f8f9fa; /* Form background color */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  color:#333; /* Label text color */
}

/* Adjust input and button styles within the login form */
#studentLoginForm .form-control {
  border-color:#333; /* Input border color */
}

#studentLoginForm .btn {
  background-color:burlywood; /* Button background color */
}
